{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "clike", "reason", "java"],
      "plugins": ["line-numbers"],
      "css": true
    }]
  ]
}
